.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
}
.mainControlButton {
  height: 50px;
  width: 50px;
}
.ToggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  width: 70px;
}
.ToggleButtonLabel {
  margin: 0;
  height: 25px;
  line-height: 12px;
}
.ToggleButtonArea {
  margin: 0;
  background-color: black;
  height: 25px;
  width: 25px;
}

.sequencerControlPanel {
  width: 100%;
  height: 100px;
  background-color: blueviolet;
}

.sequencerStep {
  height: 100%;
  width: 100%;
}
.sequencerStepButton {
  height: 70%;
  width: 90%;
}
.sequencerStepIndicator {
  width: 100%;
  height: 30%;
}

.stepLengthController {
  width: 100%;
  display: flex;
}
.stepsButton {
  padding: 0;
  font-size: 0.7em;
  width: 15px;
}
.numberOfSteps {
  width: 30px;
}

.stripControlPanel {
  height: 100%;
}
.sequencerStrip {
  display: flex;
  width: 100%;
  height: 80px;
}

.sequencerStepTrack {
  display: flex;
  width: 100%;
  background-color: dodgerblue;
}

.addNewStrip {
  color: white;
  font-size: 80px;
  width: 100%;
  background-color: lightblue;
  height: 80px;
  line-height: 80px;
  user-select: none;
}
.addNewStrip:hover {
  opacity: 0.5;
}

.NumberBox {
  margin: 0;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 50px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
}
.NumberBox p {
  margin: 0;
}
.NumberBoxLabel {
  margin: 0;
  user-select: none;
  width: 50px;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}

.footerPanel {
  display: flex;
  height: 120px;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.StripControlBoard {
  height: 100%;
  background-color: lightgreen;
  width: 100%;
}
.stepControlBoardTab {
  user-select: none;
  width: 400px;
  height: 100%;
  background-color: beige;
}

.ResizableFooter {
  height: 200px; /* initial height */
  border-bottom: 3px solid #ccc; /* resizable border */
}

.ResizeFooterHandle {
  height: 10px;
  background-color: #ccc;
}
